<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
      var app = angular.module("myApp", []);
      app.controller("myCtrl", function ($scope) {
        $scope.inMeters = 0;
        $scope.inFeets = 0;
        $scope.set = function () {
          $scope.inFeets = $scope.inMeters / 0.3048;
        };
        $scope.setFromFeets = function () {
          $scope.inMeters = $scope.inFeets * 0.3048;
        };
      });
    </script>
  </head>
  <body data-ng-app="myApp">
    <!--  <div>
      <p>Enter the length in meters: <input type="text" data-ng-model="length" /></p>
      <p>The length in feats is {{length}}</p>
    </div>
    <div data-ng-controller="myCtrl">
      First Name: <input type="text" data-ng-model="firstName" /><br />
      Last Name: <input type="text" data-ng-model="lastName" /><br />
      <br />
      Full Name: {{firstName + " " + lastName}}
    </div> -->
    <div data-ng-app="myApp" data-ng-controller="myCtrl">
      <label>Length in meters: </label>
      <input type="number" ng-change="set()" data-ng-model="inMeters" />
      <br />
      <br />
      <label>Length in feets: </label>
      <input type="number" ng-change="setFromFeets()" data-ng-model="inFeets" />
    </div>
  </body>
</html>
